<div class="container">
  <div class="row">
    <div class="jumbotron col-xs-12">
      <h2>⚡ Bienvenue dans la Pensine !</h2>
      <h4>Découvrez la plus grande collection de citations de la saga Harry Potter.
        Vous pouvez rechercher les citations par tome, par personnage, ou rechercher un mot, une expression en particulier...</h4>
      <h5>N'hésitez pas à donner une note aux citations, à les commenter, et à les partager sur Facebook ou sur Twitter.</h5>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron col-xs-12">
      <% @CharacterTop.each do |character| %>
        <%= character[0][1] %> => <%= character[1] %>  <br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= render partial: "quotes/quote", collection: @quotes_tab %>
  </div>
</div>
