/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.progress.entity{
  height: 20px;
}
.progress-bar.entity.progress-bar-info{
  line-height: 20px;
}
.progress-bar.entity.progress-bar-error{
  line-height: 20px;
}
.progress-bar.entity.progress-bar-danger{
  line-height: 20px;
}
a.chapter-number{
  color: white;
}
