/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.character-avatar{
  width: 100%;
  margin-bottom: 5px;
}
.character-link{
  text-align: center;
}
.entity-link{
  margin-bottom: 20px;
}
