/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
div.quote{
    background-color: rgb(255, 193, 100, 0.9);
}
.container-quote{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.quote img{
    width: 40px;
}
.col-xs-4.average-label{
  padding-right: 0px;
}
.col-xs-8.average-content{
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle;
}
.progress.progress-average{
  height: 20.9px;
  width: 100%;
  margin-bottom: 0px;
}
.progress-bar.progress-bar-success.progress-bar-average{
  font-size: 17px;
  line-height: 19px;
}
.stars{
  text-align: right;
}
