<div class="container">
  <div class="row">
    <div class="jumbotron col-sm-offset-2 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-sm-3 col-xs-5">

        </div>
        <div class="col-sm-9 col-xs-7">
          <h2><%= @entity.title %></h2>
          <h5>Version originale : <i><%= @entity.title_en %></i></h5>
        </div>
      </div>
      <div class="row">
        <h4>Les chapitres :</h4>
        <div class="progress">
          <% pourcent = 1.0 / @chapters.length * 100 %>
          <% @chapters.each do |chapter| %>
            <div class="progress-bar
              <% if chapter.id % 2 == 0 %>
                progress-bar-info
              <% else %>
                progress-bar-error
              <% end %>"
              style="width: <%= pourcent %>%;">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "quotes/quote", collection: @quotes_tab %>
</div>
